<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="scripts.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="textCtrl">

    <div class="sidenav" >
      <a href="#about" title = "About">About</a>
      <a href="#coop" title = "Co-op">Co-op</a>
      <a href="#experience" title = "Experience">Experience</a>
      <a href="#StrengthsSkills" title = "Strengths">Strengths</a>
      <a href="#StrengthsSkills" title = "Skills">Skills</a>
      <a href="data/Resume.pdf" title = "Resume">Resume</a>
      <a href="sisterSites.html" title = "Links">Links</a>
      <div class="connect">
        <!-- <a href="https://www.facebook.com/brian.culberson.3"><img src="data/Facebook.png" height="42px" width="42px"></a> -->
        <a href="https://www.linkedin.com/in/brian-culberson-0b6211171/"><img src="data/LinkedIn.png"height="42px" width="42px"></a>
        <a href="https://github.com/InJanus"><img src="data/github.png"height="42px" width="42px"></a>
    </div>
    </div>

    <div class="main"> 
      <div class="aboutsection">
        <div id="background">
            <img id="facepic" src="data/IMG_3024.PNG">
            <h2 id="about">Brian Culberson</h2>
            <p>{{about1}}</p>
            <p>{{about2}}</p>
        </div>
      </div>
      <div class="coopSection">
        <div id="background">
          <h2 id="coop">Co-op Experience</h2>
          <p>{{coop1}}</p>
          <p>{{coop2}}</p>
          <p>{{coop3}}</p>
        </div>
      </div>
      <!-- next will be the slideshow for the experiences -->
      <div class="experienceSection">
        <div id="background">
          <h2 id="experience">Experience</h2>
          <!-- add pictures for angular with ng repeat -->
          <div id="slideshow">
            <img class="pictures" ng-if="isCurrentSlideIndex($index)" ng-repeat="photo in photos" ng-src="data/{{photo.src}}">
            <button id="buttonLeft" ng-click="moveLeft()"><</button>
            <button id="buttonRight" ng-click="moveRight()">></button>
            <p ng-repeat="photo in photos" ng-if="isCurrentSlideIndex($index)">{{photo.text}}</p>
          </div>
        </div>
      </div>
      <div id="StrengthsSkills">
        <div id="background">
          <div class="strSection">
            <h2>Strengths</h2>
            <p ng-repeat="strength in strengths">{{strength.text}}</p>
          </div>
          <div class="strSection">
            <h2>Skills</h2>
            <p ng-repeat="skill in skills">{{skill.text}}</p>
            </div>
          </div>
      </div>
      <footer class="footer">
        <p>Posted by: Brian Culberson</p>
        <p>Contact information: <a href="mailto:briannculberson@gmail.com">briannculberson@gmail.com</a>.</p>
      </footer>
    </div>    
  </body>
</html> 
